.video{
  background: linear-gradient(rgba(232, 232, 232, 0.935), rgba(232, 232, 232, 0.935)), url('../../../assets/images/image/camera1.jpg') no-repeat;
  background-size: cover;
  background-position:center; 
  height: 700px;
}